.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 36px;
}
.searchWrap {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 auto;
}
.title {
  margin-bottom: 20px;
}
